a {
    text-decoration: none;
}
.p-body {
    background: center/cover url("../assets/img/bg.jpg") no-repeat fixed;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*===========================================================================*/
.nav {
    display: flex;
    align-items: center;
    padding: 0 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nav__link {
    display: inline-block;
    color: #FFFFFF;
    transition: color 0.2s;
}
.nav__link:hover {
    color: #3CB878;
}
.nav__title {
    margin: 0;
    padding: 18px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}
.nav__icon-wrapper {
    margin-left: auto;
    margin-right: 20px;
}
.nav__link--icon {
    height: 24px;
}
.nav__link--icon path {
    transition: fill 0.2s;
}
.nav__link--icon:hover path{
    fill: #3CB878;
}
.nav__link--icon + .nav__link--icon {
    margin-left: 25px;
}
.nav__user-action {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.nav__user-action a {
    color: inherit;
}
.nav__user-action::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 27px;
}
/*===========================================================================*/
.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-block__wrapper {
    background-color: #fff;
    position: relative;
}
.form-block__wrapper::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 30px;
    background: #3CB878;
}
.form-block__inner {
    margin: 30px 60px 38px;
    min-width: 325px;
}
.form-block__log-type-wrapper {
    display: flex;
    justify-content: space-between;
}
.log-type__item--selected {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.log-type__item--link {
    align-self: flex-end;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: color 0.2s;
}
.log-type__item--link:hover {
    color: #01813F;
    text-decoration: underline;
}
.form-block__btn-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.btn {
    display: block;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    padding: 16px 0;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    transition: filter 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: #01813F;
}
.btn--socials {
    flex: 0 1 160px;
    display: flex;
    align-items: center;
    padding: 0;
}
.btn--socials i {
    margin-left: 15px;
    font-size: 24px;
}
.btn--socials i::after {
    content: '';
    display: inline-block;
    margin-left: 13px;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
}
.btn--socials span {
    padding: 16px 20px;
}
.btn--socials--fcb {
    background: #305DB8;
}
.btn--socials--fcb:hover {
    background: #022263;
}
.btn--google {
    background: #DF4A32;
}
.btn--google:hover {
    background: #AB1F09;
}

.form-block__divider {
    margin: 34px 0 12px;
    text-align: center;
    text-wrap: none;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.form-block__divider::before,
.form-block__divider::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    max-width: 152px;
    width: 100%;
    height: 1px;
    background:  #F2F2F2;
}
.form-block__divider::before {
    margin-right: 2px;
}
.form-block__divider::after {
    margin-left: 2px;
}
.form__input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 15px 19px;
    outline: 0;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;

    border-radius: 4px;

    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form__input:focus {
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.form__checkbox-label {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
    align-items: center;
}
.form__checkbox {
    appearance: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__checkbox::before {
    content: "";
    background: center url("../assets/icons/checkbox-agree-tick.svg") no-repeat;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform 120ms ease-in-out;
}
.form__checkbox:checked::before {
    transform: scale(1);
}
.form__checkbox:checked:hover::before {
    background: center url("../assets/icons/checkbox-agree-tick-hovered.svg") no-repeat;
}
.form__checkbox-link {
    color: #3CB878;
}
.form__checkbox-link:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}
.form__btn {
    margin-top: 20px;
    width: 100%;
    border: none;
}