body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    text-align: center;
}

.navbar-list {
    margin: 32px 0;
    padding: 0;
}

.navbar-item {
    list-style: none;
    display: inline-block;
}

.navbar-item + li {
    margin-left: 72px;
}

.navbar-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.navbar-link:hover {
    color: #ec0000;
}

.header-img-wrapper {
    overflow: hidden;
}

.header-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-container {
    max-width: 1146px;
    width: 100%;
    margin: 0 auto;
}

.content-title {
    margin-top: 49px;
    margin-bottom: 38px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content-text {
    margin-top: 28px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.btn-wrapper {
    margin-top: 66px;
    text-align: center;
}

.btn-action {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #FF0000;
    padding: 18px 42.5px;

    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-action:hover {
    background: #ec0000;
}

.footer-container {
    margin-top: 42px;
}

.footer-inner {
    max-width: 1146px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 29px;

}

.copyright {
    text-align: right;
    padding-right: 38px;
}

.copyright-text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

    color: #373737;
}