.p-main {
    height: 100%;
    width: 100%;
    background: #111110;
    perspective: 500px;
    /*transform-style: preserve-3d;*/
    overflow: hidden;
}
.audio {
    opacity: 0.5;
    border-radius: 10px;
}
.content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
    font-family: sans-serif;
    font-weight: 700;
    color: #FBCF00;
    text-align: center;
    font-size: 50px;

    animation: star-wars 30s linear infinite;
}
.content__chapter, .content__title {
    font-size: inherit;
    text-transform: uppercase;
}
.content__text {
    text-align: justify;
}
@keyframes star-wars {
    0% {
        transform: scale3d(1, 1, 2.5) rotateX(20deg) translateY(600px);
    }
    100% {
        transform: scale3d(1, 1, 2.5) rotateX(20deg) translateY(-600px);
    }
}