body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    max-width: 1280px;
    /*width: 100%;*/
    margin: 0 auto;
}
.header-logo {
    display: inline-block;
    margin: 63px 0 38px;
    padding: 0;
    font-size: 80px;
    line-height: 94px;
}
.header-logo span {
    color: #4BCAFF;
}

.header-nav {
    display: flex;
    justify-content: center;
    background: #35444F;
}
.header-menu-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.header-list-item {
    list-style: none;
    display: inline-block;
    border-right: 1px solid #fff;
}
.header-list-item:first-child {
    border-left: 1px solid #fff;
}
.header-item-link {
    display: block;
    padding: 20px 32px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.header-item-link:hover {
    background: #222F3A;
}

.main {
    display: flex;
    margin-top: 48px;
}
.aside-menu-list {
    margin: 0;
    padding: 0;

    width: 344px;
    border: 1px solid #9F9F9F;
}
.aside-list-item {
    list-style: none;
}
.aside-item-link {
    display: block;
    padding: 24px 44px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.aside-item-link:hover {
    color: #35444F;
    padding-left: 75px;
    background: #DBDBDB;
}

.main-content {
    width: 100%;
    margin-left: 52px;
}

.content-img {
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9F9F9F;

}
.content-img img {
    width: 320px;
    height: 381px;
    transition: width 1s, height 1s;
}
.content-img:hover img {
    width: 340px;
    height: 401px;
}
.content-text:first-child {
    margin-top: 37px;
}
.content-text {
    margin: 34px 0;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    margin: 51px 0 30px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-inner {
    display: flex;
    padding: 20px 40px;
}
.footer-nav {
    flex: 1 0 auto;
}
.footer-menu-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.footer-list-item {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.footer-item-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding-bottom: 10px;
}
.footer-item-link:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}

.copy > p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}