body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}

.header-nav {
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-logo {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 29px;
}
.header-nav-logo span {
    padding: 22px 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.header-nav-list {
    margin: 0;
    padding: 0;
}
.header-nav-item {
    list-style: none;
    display: inline-block;
    padding: 25px 37px 25px 0;
}
.header-nav-item:last-child {
    padding-right: 0;
}
.header-nav-item a {
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.header-nav-item a:hover {
    color: #14B9D5;
}

.header-nav-btn-search {
    background: #000;
    border: none;
    padding: 27px;
    cursor: pointer;
}
.header-nav-btn-search:hover {
    background: rgba(0, 0, 0, 0.7);
}

.header-banner {
    padding: 163px 0 74px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4) url("../assets/img/header-bg.jpeg") no-repeat bottom;
    background-blend-mode: darken;
    background-size: cover;
    height: 100%;
}
.parallax-fixed {
    background-attachment: fixed!important;
}

.header-banner h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.btn-wrapper {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    display: block;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.btn--subscribe-action {
    padding: 16px 19px;
    background: #89CA62;
}
.btn--subscribe-action:hover {
    background: #74a651;
}
.btn--articles-link {
    padding: 16px 30px;
    background: #14B9D5;
}
.btn--articles-link:hover {
    background: #139cb2;
}

.most-popular-posts {
    background: #F2F2F2;
    text-align: center;
    height: 1030px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    padding: 49px 0 52px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.posts-wrapper {
    display: flex;
    flex-flow: column wrap;
    max-height: 830px;
    gap: 30px;
}
.post-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
}
.post-card > img {
    width: 100%;
}
.post-card > p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.post-card:hover {
    transform: scale(1.05);
}
.most-popular-clients {
    padding: 108px 0 183px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4) url("../assets/img/parallax-bg.jpeg") no-repeat top;
    background-blend-mode: darken;
    background-size: cover;

}
.most-popular-clients-header {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.most-popular-clients-header::after {
    content: "";
    display: block;
    margin: 87px auto;
    height: 3px;
    width: 60px;
    background: #18B4CF;
}

.brands-wrapper {
    display: grid;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 58px;
    grid-template-columns: repeat(4, auto);
}
.brands-wrapper > a {
    display: block;
    transition: transform 0.5s;
}
.brands-wrapper > a:hover {
    transform: scale(1.05);
}

.top-rated {
    text-align: center;
}
.top-rated-posts-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.top-rated-posts-wrapper img {
    width: 100%;
    transition: transform 0.5s;
}
.top-rated-posts-wrapper img:hover {
    transform: scale(0.9);
}

.hot-news {
    text-align: center;
}

.hot-news-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "item-card-1 item-card-1 item-card-1 item-card-2"
    "item-card-3 item-card-3 item-card-4 item-card-4"
    "item-card-5 item-card-5 item-card-6 item-card-6"
    "item-card-7 item-card-8 item-card-8 item-card-8";
    grid-gap: 42px 35px;
    margin-bottom: 77px;
}
.hot-news-card-item {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.5s;
}
.hot-news-card-item:hover {
    transform: scale(1.05);
}
.hot-news-card-item img {
    width: 100%;
}
.hot-news-card-item-description {
    background: #F9F7F7;
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
.align-items--center {
    align-items: center;
}
.hot-news-card-item-description h3 {
    margin: 0;
    padding: 12px 0 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hot-news-card-item-description p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.item-card-1 {
    grid-area: item-card-1;
    flex-wrap: nowrap;
}
.item-card-2 {grid-area: item-card-2}
.item-card-3 {grid-area: item-card-3}
.item-card-4 {grid-area: item-card-4}
.item-card-5 {grid-area: item-card-5}
.item-card-6 {grid-area: item-card-6}
.item-card-7 {grid-area: item-card-7}
.item-card-8 {
    grid-area: item-card-8;
    flex-wrap: nowrap;
}

.footer {
    background: #000;
}
.footer-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.footer-inner > p {
    margin: 30px 0;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-inner > p > a:hover {
    border-bottom: 1px solid #fff;
}
