html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

[class*="__container"] {
    max-width: 1050px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
/*==========================================================*/
.main__body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
}
.main__header {
    width: 100vw;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    padding: 20px 0 134px 0;
    overflow: hidden;
}
.main__header::after {
    position: absolute;
    background: center rgba(0, 0, 0, 0.7) url("../assets/img/header-bg.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    top: -40%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    transform: translateZ(-1px) scale(2);
}
/*==========================================================*/
.block-decoration {
    position: absolute;
    width: 100%;
    height: 0;
}
.block-decoration-1 {
    left: 0;
    bottom: -0;
    border-top: 100px solid transparent;
    border-left: 1000px solid #fff;
}
.block-decoration-2 {
    right: 0;
    bottom: 0;
    border-top: 100px solid transparent;
    border-right: 1000px solid #fff;
}
.block-decoration-3 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-top: 80px solid #fff;
}
/*==========================================================*/
.header__nav {
    background: #FFFFFF;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    margin: 40px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}
.nav__logo span {
    font-weight: 900;
    text-transform: uppercase;
    color: #14AFCA;
}
.nav__list {
    margin: 0;
    padding: 0;
}
.list__item {
    list-style: none;
    display: inline-block;
}
.list__item + .list__item {
    margin-left: 55px;
}
.list__item-link {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #3E4C4E;
    transition: color 0.2s;
}
.list__item-link:hover {
    color: #14AFCA;
}
/*==========================================================*/
.header__title {
    margin-top: 160px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
/*==========================================================*/
.what__section {
    margin-top: 100px;
    color: #000;
}
/*==========================================================*/
.section__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    text-transform: uppercase;
    margin: 0;
}
.section__subtitle {
    margin-top: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    color: #424F57;
}
.section__text {
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}
/*==========================================================*/
.companies__section {
    margin-top: 100px;
    padding: 128px 0 100px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.companies__section::after {
    position: absolute;
    background: center rgba(0, 0, 0, 0.9) url("../assets/img/companies-bg.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    transform: translateZ(-1px) scale(2);
}
.section__subtitle--companies {
    color: #fff;
}
.section-companies__items {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 122px;
}
.section-companies__item img {
    transition: transform 0.2s;
}
.section-companies__item:hover img {
    transform: scale(1.1);
}
/*==========================================================*/
.meet-us__section {
    margin-top: 170px;
}
.section-meet-us__items {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 85px;
}
.section-meet-us__items p {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}
/*==========================================================*/
.testimonials__section {
    margin-top: 125px;
    padding: 190px 0 145px;
    position: relative;
    overflow: hidden;
    width: 100vw;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.testimonials__section::after {
    position: absolute;
    background: center rgba(0, 0, 0, 0.7) url("../assets/img/testimonials-bg.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    transform: translateZ(-1px) scale(2);
}
.section__subtitle--testimonials {
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    color: #FFFFFF;
}
/*==========================================================*/
.quote__content {
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    padding: 0 50px;
}
.section-testimonials__quote  {
    margin-top: 48px;
}
.quote__author {
    margin-top: 28px;
    padding-right: 160px;
    text-align: right;
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
}
.quote__author::before {
    content: "- ";
}
/*==========================================================*/
.why__section {
    margin-top: 114px;
}
.section-why__text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
    padding: 0 100px;
}
/*==========================================================*/
.footer {
    margin: 100px;
    text-align: center;
}
.copy {
    margin: 0 auto;
    padding-bottom: 88px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    max-width: 416px;
}
.copy span {
    font-weight: bold;
    font-size: 16px;
}