.footer {
	padding: 48px 0;
	background: #22353F;
	text-align: center;
}

.copy {
	margin: 0;
	color: #AEAEAE;
}

.copy a {
	color: var(--colorAccent);
}

.copy a:hover {
	text-decoration: underline;
}