.functions {
	margin-top: 8px;
	display: flex;
}

.functions__card {
	padding-top: 40px;
	background-color: var(--colorAccent);
	flex: 1 1 482px;
	height: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFFFFF;
}

.functions__card-img {
	height: 192px;
	display: flex;
	align-items: center;
}

.functions__card-title {
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

.functions__card:nth-child(2n+1) {
	background-color: var(--colorDarkBlue);
	color: var(--colorAccent);
}

.functions__card:nth-child(2n+1) path {
	fill: var(--colorAccent);
}