.news {
	text-align: center;
	padding: 82px 0 130px;
}

.news__article {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 44px 33px;
}

.article {
	text-align: left;
}

.article__content {
	display: block;
	position: relative;
}

.article__content img {
	display: block;
	width: 100%;
}

.article__date {
	position: absolute;
	top: 0;
	right: 0;
	width: 65px;
	background-color: #203E38;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	padding: 8px;
	transition: background-color 0.2s ease-out;
}

.article:hover .article__date {
	background-color: var(--colorAccent);
}

.article__description {
	padding: 0 15px;
}

.article__title {
	display: block;
	padding: 15px 0;
	font-weight: 700;
	font-size: 17.9885px;
	color: #717171;
	transition: color 0.2s ease-out;
}

.article:hover .article__title {
	color: var(--colorAccent);
}

.acticle__meta {
	font-weight: 300;
	font-size: 13.991px;
	color: #777777;
	margin-left: 5px;
}

.article__comments::before {
	content: "";
	margin: 0 15px;
	display: inline-block;
	width: 1px;
	height: 12px;
	background-color: #777777;
}