.what-people-say {
	background-image: url('../../assets/img/what-people-say/bg.png');
	background-position: center;
	background-size: cover;

	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.what-people-say__comments {
	position: relative;
	margin-top: 100px;
	height: 390px;
}

.what-people-say__comment {
	position: absolute;
	top: 0;
	left: 0;

	transition: all .7s;
}

.what-people-say__choose {
	margin-top: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
}

.choose__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31px;
	height: 31px;
	border: 1px solid #BBBBBB;
	transition: background-color .2s, color .2s, border-color .2s;
}

.choose__btn:hover {
	border-color: transparent;
	background-color: var(--colorAccent);
}

.choose__btn:hover path {
	fill: #fff;
}

.choose__btn--prev {
	order: -1;
}

.what-people-say__icons {
	display: flex;
	gap: 26px;
}

.what-people-say__icon {
	position: relative;
	bottom: 0;
	display: block;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	box-shadow: 0 0 0 6px rgba(31, 218, 181, 0.2);
	cursor: pointer;

	transition: bottom .2s;
}

/* Comment */

.comment__text {
	margin-top: 37px;
	margin-bottom: 37px;
	font-weight: 300;
	line-height: 30px;
	color: #BBBBBB;
}

.comment__author {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	text-transform: uppercase;
	color: var(--colorAccent);
}

.comment__author-profession {
	font-weight: 300;
	font-size: 13px;
	line-height: 27px;

	color: #BBBBBB;
}

.comment__author-icon {
	display: block;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 143px;
	height: 142px;
	border-radius: 50%;

	box-shadow: 0 0 0 11px rgba(31, 218, 181, 0.2);
}