@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {
    text-decoration: none;
}
.body {
    height: 100vh;
    overflow: hidden;
    background: url("../assets/img/bg.jpg") no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    color: #fff;
}
[class*="-container"] {
    max-width: 1028px;
    width: 100%;
    margin: 0 auto;
}

.body-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*==========================================*/
.header {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img-wrap {
    display: inline-block;
    width: 53px;
    height: 47px;
}
.header-logo-title {
    display: inline-block;
    margin: 0 0 0 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 29px;
}
.header-logo-title span {
    display: block;
    font-size: 18px;
    line-height: 24px;
}
.header-logo:hover .header-img-wrap {
    background: url("../assets/img/logo-on-hover.svg");
}
.header-logo:hover img {
    display: none;
}
.header-logo:hover .header-logo-title {
    color: #F26522;
}
.contact-info a {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    transition: color 0.2s;
}
.contact-info a + a {
    margin-top: 19px;
}
.contact-info a:hover {
    color: #F26522;
}

/*==========================================*/
.main {
    flex-grow:  1;
}

.tours {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 37px 54px;
}
.tour-card {
    text-align: center;
}
.tour-card-item {
    position: relative;
    text-align: left;
    overflow: hidden;
}
.card-item-img-wrap {
    display: block;
}
.card-item-img-wrap img {
    display: block;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, black) 1 100%;
}
.tour-card-item-details {
    padding: 0 16px;
    position: absolute;
    bottom: -55px;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: #F26522;
    transition: bottom 0.2s ease-in;
}
.item-card-price {
    display: inline-block;
    margin: 7px 0 12px 0;
    font-size: 20px;
    line-height: 20px;
}
.item-card-price span {
    display: block;
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 10px;
}
.item-card-details-btn {
    display: block;
    margin: 29px 0 12px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
}
.item-card-details-btn::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
.item-card-details-btn:hover {
    text-decoration: underline;
}
.tour-card-title {
    margin: 20px 0 0 0;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    transition: color 0.2s;
}
.tour-card:hover .tour-card-item-details {
    bottom: 0;
}
.tour-card:hover .tour-card-title{
    color: #F26522;
}

/*==========================================*/
.footer {
    text-align: center;
}
.footer-copy {
    font-size: 12px;
    line-height: 12px;
}