.pricing-table {
    width: 100vw;
    height: 100vh;
    border: 20px solid #3A4965;
    font-family: 'Arimo', sans-serif;
    /*border-spacing: 1px;*/
    border-collapse: collapse;
    text-align: center;
}
.table__col {
    border: 1px solid #DBDBDB;
}
/*================================================*/
.table__header {
    background: #FAFAFA;
}
.table__plan {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.table__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
}
.table__title span {
    display: block;
    font-size: 30px;
    line-height: 28px;
}
.table__plan--standard {
    background: #89C331;
}
.table__plan--ultimate {
    background: #F04A56;
}
.table__plan--ultimate--size-b {
    font-size: 30px;
    line-height: 28px;
}
.table__plan--premium {
    background: #20807C;
}
/*================================================*/
.plan__pricing {
    height: 100px;
}
.plan__price {
    margin: 0;
    text-align: left;
    min-width: 213px;
    display: inline-block;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
    color: #484848;
    position: relative;
}
.plan__price--cent {
    margin: 0;
    font-weight: 700;
    color: #484848;
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    vertical-align: top;
    position: relative;
}
.plan__price::before {
    content: '$';
}
.plan__duration {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #484848;
    position: absolute;
    right: 0;
    top: 20px;
}
/*================================================*/
.table__body {
    background: #F2F2F2;
}
.table__row:nth-child(even) {
    background: #E3E3E3;
}
.plan__info {
    line-height: 16px;
    text-transform: uppercase;
    color: #484848;
}
.plan__info--title {
    display: inline-block;
    margin: 0;
    line-height: 28px;
}
/*================================================*/
.btn-wrapper:nth-child(1) {
    background: #DDDDDD;;
}
.btn-wrapper:nth-child(3) {
    background: #F4F4F4;
}
.btn-wrapper:nth-child(2),
.btn-wrapper:nth-child(4) {
    background: #EEEEEE;
}
.btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #484848;
    text-decoration: none;
    margin: 0 auto;
    padding: 17px 0;
    display: block;
    max-width: 192px;
    border-radius: 5px;
    position: relative;
}
.btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    height: 9px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    opacity: 0.1;
    box-shadow: 0 2px 1px #000;
}
.btn:hover {
    opacity: 0.9;
}
.btn:active {
    transform: translateY(4px);
}
.btn:active::after {
    display: none;
}
.btn--green { background: #89C331;}
.btn--red { background: #F04A56;}
.btn--cyan { background: #20807C;}